<nav class="navbar navbar-default navbar-fixed-top" style="padding-bottom:5px;margin-left:-3px;background:#3a5795;">

    <div class="pull-left">

        <div class="col-md-12">
            <a href="#/home">
                <button class="btn btn-default" style="position:relative; top:8px;">
                    voltar
                </button>
            </a>
        </div>
    </div>
  <div class="container">
        <input placeholder="pesquisa rápida do que está passando agora na TV" type="text" class="form-control" id="search" ng-model="search" style="margin:auto;top:10px; position: relative; background:#fff; width:50%;" />
   </div>
</nav>

<div class="col-md-12" style="margin-top:70px; text-align:center;" id="box-load">
    <p>
        <label>Página não contrada - Erro 404</label> 
    </p>
</div>

